<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.order.mapper.OrderInfoMapper">

    <resultMap id="orderInfoMap" type="com.atguigu.gmall.order.model.OrderInfo" autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="orderDetailList" ofType="com.atguigu.gmall.order.model.OrderDetail" autoMapping="true">
            <id property="id" column="order_detail_id"></id>
        </collection>
    </resultMap>
    <!--查询当前登录用户订单列表以及订单明细内容-->
    <select id="getOrderList" resultMap="orderInfoMap">
        SELECT
            oi.id,
            oi.consignee,
            oi.consignee_tel,
            oi.total_amount,
            oi.order_status,
            oi.user_id,
            oi.payment_way,
            oi.delivery_address,
            oi.order_comment,
            oi.out_trade_no,
            oi.trade_body,
            od.id order_detail_id,
            od.sku_id,
            od.sku_name,
            od.sku_num,
            od.img_url,
            od.order_price
        FROM
        order_info oi
        INNER JOIN order_detail od ON od.order_id = oi.id
        WHERE
        oi.user_id = #{userId}
        <if test="orderStatus!=null and orderStatus!=''">
            AND oi.order_status = #{orderStatus}
        </if>
        AND oi.order_status != 'SPLIT'
    </select>
</mapper>
